* {
    font-family: Helvetica, Arial;
    color: hsl(0, 0%, 80%);
    scrollbar-width: none;
}



body {
    background-color: #1f1f1f;
    margin: 0px;
}

#tabs-bar {
    z-index: 998;
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #1a1a1a;
    margin: 0px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid;
    border-color: #2e2e2e;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    overflow-y: scroll;
    scrollbar-width: none;
}

.tab {
    user-select: none;
    background-color: #1f1f1f;
    position: relative;
    height: 30px;
    width: fit-content;

    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    
    border-radius: 20px;
    border: 1px, solid;
    border-color: #414141;


    font-weight: normal;
}

.tab:hover {
    background-color: #383838;
}

.tab:active {
    background-color: #4d4d4d;
}

.tab.active {
    background-color: #414141;
}

#ALL-tab {
    font-weight: bold;
}

#container {
    background-color: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    margin-top: 70px;
}

span {
    resize: none;
    overflow: hidden;

    height: auto;

    display: inline-block;
    width: 300px;
    outline: none;
    
    border-width: 0px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.strikethrough {
    text-decoration: line-through;
    color: hsl(0, 0%, 40%);
}

.list-item {
    
    position: relative;
    background-color: #1a1a1a;
    height: auto;
    min-height: 51px;
    width: 400px;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    display: flex;

    border: 1px solid;
    border-color: #414141;
}

.check-box-div {
    display: flex;
    background-color: #111111;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    border-right: 1px solid;
    border-color: #202020;
}

.list-item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 370px;
}

.list-item-tag {
    background-color: #2e2e2e;
    width: fit-content;
    border-bottom: 1px solid;
    border-color: #414141;
    max-width: 310px;
    padding: 1px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    min-height: 20px;
    position: relative;
    right: 0px;
    font-size: 15px;
}

.list-item-drag {
    height: auto;
    background-color: #2e2e2e;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 30px;
    float: right;
    flex-grow: 1;
    border-left: 1px solid;
    border-color: #414141;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #414141;

    user-select: none;

    cursor: move;
}

#new-button {
    position: fixed;
    bottom: 10px;
    right: 10px;

    width: 50px;
    height: 50px;

    font-weight: bold;

    border-radius: 50px;
    background-color: #2e2e2e;
    border: 1px solid;
    border-color: #414141;
    
    cursor: pointer;

    user-select: none;
}
#new-button:hover {
    border: none;
    background-color: #1DB954;
}

#new-button:active {
    border: none;
    background-color: #298b4b;
}


#clear-completed {
    position: fixed;
    bottom: 10px;
    right: 70px;

    width: 50px;
    height: 50px;

    border-radius: 50px;
    background-color: #2e2e2e;
    border: 1px solid;
    border-color: #414141;
    font-size: 10px;
    
    cursor: pointer;

    user-select: none;
}
#clear-completed:hover {
    border: none;
    background-color: #b91d1d;
}

#clear-completed:active {
    border: none;
    background-color: #8b2929;
}

.list-item-delete {
    position: absolute;
    border: none;
    z-index: 10;
    background-color: #0c0c0c;
    height: 20px;
    width: 20px;
    left: -5px;
    bottom: -5px;
    border-radius: 10px;
    display: none;
}

.list-item-delete:hover {
    background-color: #b91d1d;
}

.list-item-delete:active {
    background-color: #8b2929;
}

.list-item:hover .list-item-delete {
    display: block;
}

#tab-menu {
    display: none;
    z-index: 1000;
    position: fixed;
    text-wrap: none;
    background-color: #2e2e2e;
    border-radius: 5px;
    font-size: 15px;
}

#tab-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tab-menu li {
    padding: 5px;
    user-select: none;
}

#tab-menu li:hover {
    background-color: #414141;
}

#tab-menu li:active {
    background-color: #4d4d4d;
}

#del-tab {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#change-tab-color {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tab-color-menu {
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: #2e2e2e;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    align-content: center;
    justify-content: center;

    user-select: none;

}

#color-option-div {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 140px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.color-option {
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-color:#4d4d4d;
    padding: 0px;
    transition: filter 0.2s;  /* WOAHHHHHH */
}

.color-option:hover {
   filter: brightness(0.8);
}

.color-option:active {
    filter: brightness(0.6);
}

#tab-renamer-input {
    display: none;
    position: fixed;
    z-index: 1000;
    background-color: #2e2e2e;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    border-color: #4d4d4d;
    width: 100px;
    height: 20px;
    align-content: center;
    justify-content: center;
}